*
!.gitignore
!README.md
!LICENSE

!bin/
!bin/**

!alacritty/
!alacritty/**
alacritty/themes/
!ghostty/
!ghostty/**

!docker/
!docker/**

!fish/
!fish/**
fish/fish_variables

!git/
!git/**

# !gnome-initial-setup-done
# !Makefile

nvim/

# !regolith3/
# !regolith3/**
!tmux/
!tmux/**
tmux/plugins/
tmux/plugins/**
# !user-dirs.dirs
