.config/**
!.config/alacritty/
!.config/alacritty/**
!.config/bin/
!.config/bin/**
!.config/docker/
!.config/docker/**
!.config/fish/
!.config/fish/**
!.config/fish/functions/
!.config/fish/functions/**
!.config/git/
!.config/git/**
!.config/mc/
!.config/mc/**
.config/nvim/
!.config/regolith3/
!.config/regolith3/i3status-rs/
!.config/regolith3/i3status-rs/**
!.config/regolith3/sway/
!.config/regolith3/sway/config.d/
!.config/regolith3/sway/config.d/**
!.config/regolith3/Xresources
!.config/tmux/
!.config/tmux/**
.config/tmux/plugins/
!.config/user-dirs.dirs
**/*.bak
