# 00_init.config
set $sway_wallpaper /usr/share/backgrounds/Fuji_san_by_amaral.png
set $lock_time 300
set $poweroff_time 600

# ----------------------------------------------------------
exec --no-startup-id i3status-rs
exec swaybg -i $sway_wallpaper -m fill
exec swayidle -w \
  timeout $lock_time "gtklock --background $sway_wallpaper" \
  timeout $poweroff_time "swaymsg 'output * dpms off'" \
  resume "swaymsg 'output * dpms on'" \
  before-sleep "gtklock --background $sway_wallpaper"
