#
#
# window focusing
# ----------------------------------------------------------------------------
unbindsym $mod+h
unbindsym $mod+j
unbindsym $mod+k
unbindsym $mod+l
unbindsym $mod+Left
unbindsym $mod+Down
unbindsym $mod+Up
unbindsym $mod+Right

# window movement
# ----------------------------------------------------------------------------
unbindsym $mod+Shift+h
unbindsym $mod+Shift+j
unbindsym $mod+Shift+k
unbindsym $mod+Shift+l
unbindsym $mod+Shift+Left
unbindsym $mod+Shift+Down
unbindsym $mod+Shift+Up
unbindsym $mod+Shift+Right

# window layout
# ----------------------------------------------------------------------------
#unbindsym $mod+e
unbindsym $mod+f
unbindsym $mod+Shift+f
unbindsym $mod+Shift+t
unbindsym $mod+t
unbindsym $mod+Backspace
unbindsym $mod+Shift+space
unbindsym $mod+space
#
#unbindsym $mod+comma
#unbindsym $mod+period

# window management
# ----------------------------------------------------------------------------
unbindsym $mod+Shift+q
unbindsym $mod+Alt+q
unbindsym $mod+r

# workspaces definition
# ----------------------------------------------------------------------------
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#

# workspaces navigation
# ----------------------------------------------------------------------------
unbindsym $mod+Ctrl+m
unbindsym $mod+Ctrl+a
#
# (preservado)
# (preservado)
# (preservado)
# (preservado)
#
unbindsym $mod+1
unbindsym $mod+2
unbindsym $mod+3
unbindsym $mod+4
unbindsym $mod+5
unbindsym $mod+6
unbindsym $mod+7
unbindsym $mod+8
unbindsym $mod+9
unbindsym $mod+0
unbindsym $mod+Ctrl+1
unbindsym $mod+Ctrl+2
unbindsym $mod+Ctrl+3
unbindsym $mod+Ctrl+4
unbindsym $mod+Ctrl+5
unbindsym $mod+Ctrl+6
unbindsym $mod+Ctrl+7
unbindsym $mod+Ctrl+8
unbindsym $mod+Ctrl+9

# workspaces move windows
# ----------------------------------------------------------------------------
unbindsym $mod+Ctrl+Shift+Left
unbindsym $mod+Ctrl+Shift+Right
unbindsym $mod+Ctrl+Shift+Up
unbindsym $mod+Ctrl+Shift+Down
#
unbindsym $mod+Shift+1
unbindsym $mod+Shift+2
unbindsym $mod+Shift+3
unbindsym $mod+Shift+4
unbindsym $mod+Shift+5
unbindsym $mod+Shift+6
unbindsym $mod+Shift+7
unbindsym $mod+Shift+8
unbindsym $mod+Shift+9
unbindsym $mod+Shift+0
unbindsym $mod+Ctrl+Shift+1
unbindsym $mod+Ctrl+Shift+2
unbindsym $mod+Ctrl+Shift+3
unbindsym $mod+Ctrl+Shift+4
unbindsym $mod+Ctrl+Shift+5
unbindsym $mod+Ctrl+Shift+6
unbindsym $mod+Ctrl+Shift+7
unbindsym $mod+Ctrl+Shift+8
unbindsym $mod+Ctrl+Shift+9

# workspace carry windows
# ----------------------------------------------------------------------------
unbindsym $mod+Alt+1
unbindsym $mod+Alt+2
unbindsym $mod+Alt+3
unbindsym $mod+Alt+4
unbindsym $mod+Alt+5
unbindsym $mod+Alt+6
unbindsym $mod+Alt+7
unbindsym $mod+Alt+8
unbindsym $mod+Alt+9
unbindsym $mod+Alt+0
unbindsym $mod+Alt+Ctrl+1
unbindsym $mod+Alt+Ctrl+2
unbindsym $mod+Alt+Ctrl+3
unbindsym $mod+Alt+Ctrl+4
unbindsym $mod+Alt+Ctrl+5
unbindsym $mod+Alt+Ctrl+6
unbindsym $mod+Alt+Ctrl+7
unbindsym $mod+Alt+Ctrl+8
unbindsym $mod+Alt+Ctrl+9

# launchers
# ----------------------------------------------------------------------------
unbindsym $mod+Escape
unbindsym $mod+Ctrl+space
#
unbindsym $mod+Return
unbindsym $mod+Shift+Return
#unbindsym $mod+Shift+space
unbindsym $mod+Alt+space
unbindsym $mod+Shift+n
unbindsym $mod+n
#unbindsym $mod+Shift+question

# system settings
# ----------------------------------------------------------------------------
unbindsym $mod+i
unbindsym $mod+b
unbindsym $mod+w
unbindsym $mod+d
unbindsym $mod+c
#
unbindsym $mod+Shift+e
unbindsym $mod+Shift+p
unbindsym $mod+Shift+b
unbindsym $mod+Shift+r
unbindsym $mod+Shift+c
#unbindsym $mod+Ctrl+r
#unbindsym $mod+Shift+s

# screenshot
# ----------------------------------------------------------------------------
unbindsym $mod+Print

