# go to
unbindsym $mod+1 
unbindsym $mod+2 
unbindsym $mod+3 
unbindsym $mod+4 
unbindsym $mod+5 
unbindsym $mod+6 
unbindsym $mod+7 
unbindsym $mod+8 
unbindsym $mod+9 
unbindsym $mod+0 

bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws0

# throw windows
unbindsym $mod+Alt+1 
unbindsym $mod+Alt+2 
unbindsym $mod+Alt+3 
unbindsym $mod+Alt+4 
unbindsym $mod+Alt+5 
unbindsym $mod+Alt+6 
unbindsym $mod+Alt+7 
unbindsym $mod+Alt+8 
unbindsym $mod+Alt+9 
unbindsym $mod+Alt+0 

bindsym $mod+Alt+1 move container to workspace $ws1
bindsym $mod+Alt+2 move container to workspace $ws2
bindsym $mod+Alt+3 move container to workspace $ws3
bindsym $mod+Alt+4 move container to workspace $ws4
bindsym $mod+Alt+5 move container to workspace $ws5
bindsym $mod+Alt+6 move container to workspace $ws6
bindsym $mod+Alt+7 move container to workspace $ws7
bindsym $mod+Alt+8 move container to workspace $ws8
bindsym $mod+Alt+9 move container to workspace $ws9
bindsym $mod+Alt+0 move container to workspace $ws0

# workspace move windows
unbindsym $mod+Shift+1 
unbindsym $mod+Shift+2 
unbindsym $mod+Shift+3 
unbindsym $mod+Shift+4 
unbindsym $mod+Shift+5 
unbindsym $mod+Shift+6 
unbindsym $mod+Shift+7 
unbindsym $mod+Shift+8 
unbindsym $mod+Shift+9 
unbindsym $mod+Shift+0 

bindsym $mod+Shift+1 move container to workspace $ws1; workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2; workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3; workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4; workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5; workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6; workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7; workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8; workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9; workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws0; workspace $ws0

