# window management
bindsym $mod+Shift+x kill
bindsym $mod+Alt+x kill

unbindsym $mod+z # "focus child"
bindsym $mod+z fullscreen toggle 

# launchers
unbindsym $mod+Return
bindsym $mod+Return exec alacritty

# unbindsym $mod+e 
bindsym $mod+e exec gnome-text-editor

unbindsym $mod+c 
bindsym $mod+c exec gnome-calculator
for_window [app_id="org.gnome.Calculator"] floating enable

# system settings
unbindsym $mod+a # "focus parent window"
unbindsym $mod+i
bindsym $mod+a bar mode invisible
bindsym $mod+Shift+a bar mode dock
# bindsym $mod+b exec blueman-manager
# bindsym $mod+w exec nm-connection-editor
# bindsym $mod+d exec arandr
# bindsym $mod+c exec gnome-control-center

unbindsym $mod+Shift+e
unbindsym $mod+Shift+q
bindsym $mod+Shift+q exec swaynag -t warning -m 'Quit?' -b 'Yes (click here)' 'swaymsg exit'

unbindsym $mod+Shift+b
unbindsym $mod+Shift+r
bindsym $mod+Shift+r exec swaynag -t warning -m 'Reboot?' -b 'Yes (click here)' 'systemctl reboot'

unbindsym $mod+Shift+p
bindsym $mod+Shift+p exec swaynag -t warning -m 'Power off?' -b 'Yes (click here)' 'systemctl poweroff'

# custom scripts
unbindsym $mod+Print
bindsym $mod+Print exec $HOME/bin/screenshot.sh
bindsym $mod+Shift+d exec $HOME/bin/darkmode.sh
