# window management
# ----------------------------------------------------------------------------
bindsym $mod+Shift+x kill
bindsym $mod+Alt+x kill


# launchers
# ----------------------------------------------------------------------------
unbindsym $mod+Return
bindsym $mod+Return exec alacritty

# system settings
# ----------------------------------------------------------------------------
unbindsym $mod+a # "focus parent window"
bindsym $mod+a bar toggle
# bindsym $mod+b exec blueman-manager
# bindsym $mod+w exec nm-connection-editor
# bindsym $mod+d exec arandr
# bindsym $mod+c exec gnome-control-center

unbindsym $mod+Shift+e
bindsym $mod+Shift+e exec swaynag -t warning -m 'Logout?' -b 'Yes (click here)' 'swaymsg exit'
unbindsym $mod+Shift+p
bindsym $mod+Shift+p exec swaynag -t warning -m 'Power off?' -b 'Yes (click here)' 'systemctl poweroff'
unbindsym $mod+Shift+b
bindsym $mod+Shift+b exec swaynag -t warning -m 'Reboot?' -b 'Yes (click here)' 'systemctl reboot'
unbindsym $mod+Shift+r
bindsym $mod+Shift+r exec swaymsg reload

# custom scripts
# ----------------------------------------------------------------------------
unbindsym $mod+Print
bindsym $mod+Print exec $HOME/bin/screenshot.sh
bindsym $mod+Shift+d exec $HOME/bin/darkmode.sh
