set $mod Mod4

# window focusing
# ----------------------------------------------------------------------------
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# window movement
# ----------------------------------------------------------------------------
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# window layout
# ----------------------------------------------------------------------------
bindsym $mod+e layout toggle split
bindsym $mod+f fullscreen toggle
bindsym $mod+Shift+f floating toggle
bindsym $mod+Shift+t layout toggle split
bindsym $mod+t layout toggle tabbed
bindsym $mod+Backspace layout toggle split
bindsym $mod+Shift+space floating toggle
bindsym $mod+space focus mode_toggle

bindsym $mod+comma exec regolith-layout-save
bindsym $mod+period exec regolith-layout-load

# window management
# ----------------------------------------------------------------------------
bindsym $mod+Shift+q kill
bindsym $mod+Alt+q kill
bindsym $mod+r mode "resize"

# workspaces definition
# ----------------------------------------------------------------------------
set $ws1  "1:<span> </span>1 <span foreground='#FF0000'>⬢</span><span> </span>"
set $ws2  "2:<span> </span>2 <span foreground='#FF9900'>⬢</span><span> </span>"
set $ws3  "3:<span> </span>3 <span foreground='#CCFF00'>⬢</span><span> </span>"
set $ws4  "4:<span> </span>4 <span foreground='#66FF00'>⬢</span><span> </span>"
set $ws5  "5:<span> </span>5 <span foreground='#00FF33'>⬢</span><span> </span>"
set $ws6  "6:<span> </span>6 <span foreground='#00FFFF'>⬢</span><span> </span>"
set $ws7  "7:<span> </span>7 <span foreground='#0066FF'>⬢</span><span> </span>"
set $ws8  "8:<span> </span>8 <span foreground='#3300FF'>⬢</span><span> </span>"
set $ws9  "9:<span> </span>9 <span foreground='#9900FF'>⬢</span><span> </span>"
set $ws0 "10:<span></span>10 <span foreground='#FF0099'>⬢</span><span> </span>"
set $ws11 "11:<span> </span>11 <span foreground='#FFFFFF'>⬢</span><span> </span>"
set $ws12 "12:<span> </span>12 <span foreground='#E0E0E0'>⬢</span><span> </span>"
set $ws13 "13:<span> </span>13 <span foreground='#C4C4C4'>⬢</span><span> </span>"
set $ws14 "14:<span> </span>14 <span foreground='#A8A8A8'>⬢</span><span> </span>"
set $ws15 "15:<span> </span>15 <span foreground='#8C8C8C'>⬢</span><span> </span>"
set $ws16 "16:<span> </span>16 <span foreground='#707070'>⬢</span><span> </span>"
set $ws17 "17:<span> </span>17 <span foreground='#545454'>⬢</span><span> </span>"
set $ws18 "18:<span> </span>18 <span foreground='#383838'>⬢</span><span> </span>"
set $ws19 "19:<span> </span>19 <span foreground='#1C1C1C'>⬢</span><span> </span>"
set $ws20 "20:<span> </span>20 <span foreground='#000000'>⬢</span><span> </span>" # not used

# workspaces navigation
# ----------------------------------------------------------------------------
bindsym $mod+Ctrl+m move scratchpad
bindsym $mod+Ctrl+a scratchpad show

#bindsym $mod+Tab workspace next
#bindsym $mod+Shift+Tab workspace prev
#bindsym $mod+Alt+Left workspace prev
#bindsym $mod+Alt+Right workspace next

bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws0
bindsym $mod+Ctrl+1 workspace $ws11
bindsym $mod+Ctrl+2 workspace $ws12
bindsym $mod+Ctrl+3 workspace $ws13
bindsym $mod+Ctrl+4 workspace $ws14
bindsym $mod+Ctrl+5 workspace $ws15
bindsym $mod+Ctrl+6 workspace $ws16
bindsym $mod+Ctrl+7 workspace $ws17
bindsym $mod+Ctrl+8 workspace $ws18
bindsym $mod+Ctrl+9 workspace $ws19

# workspaces move windows
# ----------------------------------------------------------------------------
bindsym $mod+Ctrl+Shift+Left move container to workspace prev
bindsym $mod+Ctrl+Shift+Right move container to workspace next
bindsym $mod+Ctrl+Shift+Up move container to workspace prev
bindsym $mod+Ctrl+Shift+Down move container to workspace next

bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws0
bindsym $mod+Ctrl+Shift+1 move container to workspace $ws11
bindsym $mod+Ctrl+Shift+2 move container to workspace $ws12
bindsym $mod+Ctrl+Shift+3 move container to workspace $ws13
bindsym $mod+Ctrl+Shift+4 move container to workspace $ws14
bindsym $mod+Ctrl+Shift+5 move container to workspace $ws15
bindsym $mod+Ctrl+Shift+6 move container to workspace $ws16
bindsym $mod+Ctrl+Shift+7 move container to workspace $ws17
bindsym $mod+Ctrl+Shift+8 move container to workspace $ws18
bindsym $mod+Ctrl+Shift+9 move container to workspace $ws19

# workspace carry windows
# ----------------------------------------------------------------------------
bindsym $mod+Alt+1 move container to workspace $ws1; workspace $ws1
bindsym $mod+Alt+2 move container to workspace $ws2; workspace $ws2
bindsym $mod+Alt+3 move container to workspace $ws3; workspace $ws3
bindsym $mod+Alt+4 move container to workspace $ws4; workspace $ws4
bindsym $mod+Alt+5 move container to workspace $ws5; workspace $ws5
bindsym $mod+Alt+6 move container to workspace $ws6; workspace $ws6
bindsym $mod+Alt+7 move container to workspace $ws7; workspace $ws7
bindsym $mod+Alt+8 move container to workspace $ws8; workspace $ws8
bindsym $mod+Alt+9 move container to workspace $ws9; workspace $ws9
bindsym $mod+Alt+0 move container to workspace $ws0; workspace $ws0
bindsym $mod+Alt+Ctrl+1 move container to workspace 11; workspace $ws11
bindsym $mod+Alt+Ctrl+2 move container to workspace 12; workspace $ws12
bindsym $mod+Alt+Ctrl+3 move container to workspace 13; workspace $ws13
bindsym $mod+Alt+Ctrl+4 move container to workspace 14; workspace $ws14
bindsym $mod+Alt+Ctrl+5 move container to workspace 15; workspace $ws15
bindsym $mod+Alt+Ctrl+6 move container to workspace 16; workspace $ws16
bindsym $mod+Alt+Ctrl+7 move container to workspace 17; workspace $ws17
bindsym $mod+Alt+Ctrl+8 move container to workspace 18; workspace $ws18
bindsym $mod+Alt+Ctrl+9 move container to workspace 19; workspace $ws19

# launchers
# ----------------------------------------------------------------------------
bindsym $mod+Escape exec gtklock
bindsym $mod+Ctrl+space exec rofi -show window

bindsym $mod+Return exec alacritty
bindsym $mod+Shift+Return exec firefox
#bindsym $mod+Shift+space exec rofi -show run
bindsym $mod+Alt+space exec rofi -show drun
bindsym $mod+Shift+n exec nautilus
bindsym $mod+n exec notify-send "Notifications toggled"
bindsym $mod+Shift+question exec regolith-help

# system settings
# ----------------------------------------------------------------------------
bindsym $mod+i bar toggle
bindsym $mod+b exec blueman-manager
bindsym $mod+w exec nm-connection-editor
bindsym $mod+d exec arandr
bindsym $mod+c exec gnome-control-center

bindsym $mod+Shift+e exec swaynag -t warning -m 'Logout?' -b 'Yes (click here)' 'swaymsg exit'
bindsym $mod+Shift+p exec swaynag -t warning -m 'Power off?' -b 'Yes (click here)' 'systemctl poweroff'
bindsym $mod+Shift+b exec swaynag -t warning -m 'Reboot?' -b 'Yes (click here)' 'systemctl reboot'
bindsym $mod+Shift+r exec swaymsg reload
bindsym $mod+Shift+c reload
bindsym $mod+Ctrl+r restart
bindsym $mod+Shift+s exec systemctl suspend

# screenshot
# ----------------------------------------------------------------------------
bindsym $mod+Print exec ~/bin/screenshot.sh
