# ZSTray sempre no workspace 10
exec_always "/opt/zscaler/bin/ZSTray"
for_window [class="ZSTray"] move to workspace $ws10

# Cisco Secure Client no workspace 10
exec_always "/opt/cisco/secureclient/bin/vpnui"
for_window [app_id="com.cisco.secureclient.gui"] move to workspace $ws10

#
#
# # Workspace 11: Chat e Teams
# exec_always "swaymsg workspace $ws11; exec firefoxpwa site launch 01K3RFBVCK3MY08YEDMZ19H3H0"
# exec_always "swaymsg workspace $ws11; exec firefoxpwa site launch 01K42KWAS069B1CP26Z0H7HHAC"
#
# # Workspace 1: Firefox e Copilot
# exec_always "swaymsg workspace $ws1; exec firefox"
# exec_always "swaymsg workspace $ws1; exec copilot.sh"
#
# # Workspace 2: Terminal
# exec_always "swaymsg workspace $ws2; exec x-terminal-emulator"
#
# # Workspace 3: VSCode
# exec_always "swaymsg workspace $ws3; exec code"
#
# # Workspace 4: Gemini
# exec_always "swaymsg workspace $ws4; exec firefoxpwa site launch 01K42YZ9P5FE4CEAJZJ65P1GVT"
#
# # Workspace 9: Type-fu
# exec_always "swaymsg workspace $ws9; exec firefoxpwa site launch 01K40KDJ6CV57GWPWXXXW0XC8C"
#
