# ~/.config/regolith3/sway/config.d/prev-next-ws.config
bindsym Alt+F4 kill
bindsym $mod+x kill
bindsym $mod+q kill

# $mod+left/right switch to prev/next workspace
unbindsym $mod+Prior
unbindsym $mod+Next
bindsym $mod+Prior workspace prev_on_output
bindsym $mod+Next workspace next_on_output
# bindsym Ctrl+Alt+Left workspace prev_on_output
# bindsym Ctrl+Alt+Right workspace next_on_output

bindsym $mod+Mod4 workspace back_and_forth

bindsym Shift+Ctrl+Alt+Left move container to workspace prev_on_output; workspace prev_on_output
bindsym Shift+Ctrl+Alt+Right move container to workspace next_on_output; workspace next_on_output
