bindsym Alt+F4 kill

# $mod+left/right switch to prev/next workspace
unbindsym $mod+Left
unbindsym $mod+Right
bindsym $mod+Left workspace prev_on_output
bindsym $mod+Right workspace next_on_output
bindsym Ctrl+Alt+Left workspace prev_on_output
bindsym Ctrl+Alt+Right workspace next_on_output

unbindsym $mod+Tab
bindsym $mod+Tab workspace back_and_forth

bindsym Shift+Ctrl+Alt+Left move container to workspace prev_on_output; workspace prev_on_output
bindsym Shift+Ctrl+Alt+Right move container to workspace next_on_output; workspace next_on_output
