unbindsym $mod+$wm.binding.logout
unbindsym $mod+$wm.binding.reboot
unbindsym $mod+$wm.binding.shutdown

bindsym $mod+Ctrl+Alt+l exec "swaynag -t warning -m 'Logout this session?' -b 'Yes (click here)' '$wm.program.logout'"
bindsym $mod+Ctrl+Alt+r exec "swaynag -t warning -m 'Reboot the computer?' -b 'Yes (click here)' '$wm.program.reboot'"
bindsym $mod+Ctrl+Alt+s exec "swaynag -t warning -m 'Shutdown the computer?' -b 'Yes (click here)' '$wm.program.shutdown'"
