unbindsym $mod+$wm.binding.logout
unbindsym $mod+$wm.binding.reboot
unbindsym $mod+$wm.binding.shutdown

bindsym $mod+Ctrl+Alt+l exec "~/bin/swaynag-singleton.sh 'Logout this session?' '$wm.program.logout'"
bindsym $mod+Ctrl+Alt+r exec "~/bin/swaynag-singleton.sh 'Reboot the computer?' '$wm.program.reboot'"
bindsym $mod+Ctrl+Alt+s exec "~/bin/swaynag-singleton.sh 'Shutdown the computer?' '$wm.program.shutdown'"
